{% extends 'admin/layout.html' %}

{% block title %}FAQデータリスト一覧{% endblock %}

{% block content %}
<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">データリスト</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="faq_lists" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>作成日時</th>
            <th>更新日時</th>
            <th>一覧</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          {% for faq_list in faq_lists %}
          <tr>
            <td>{{ faq_list['id'] }}</td>
            <td>{{ faq_list.name }}</td>
            <td>{{ faq_list.created_at }}</td>
            <td>{{ faq_list.updated_at }}</td>
            <td>
              <a href="{{ url_for('admin/faq.list', faq_list_id=faq_list['id']) }}">
                <div class="btn btn-block btn-default">FAQ一覧</div>
              </a>
            </td>
            <td>
              <a href="{{ url_for('admin/faq_list.edit', id=faq_list['id']) }}">
                <div class="btn btn-block btn-default">名前変更</div>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block before_close_body %}

<script>
  $(function () {
    $('#faq_lists').DataTable()
  })
</script>
{% endblock %}