<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>top page flask-chatbot</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.19.0/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
  <div id="contents">

    <div id="cb-area">
      <cb-talk v-bind:talk="talk" v-bind:send-question="sendQuestion" v-bind:send-static-answer="sendStaticAnswer">
      </cb-talk>
      <cb-control v-bind:send-free-text="sendFreeText"></cb-control>
    </div>

  </div>
</body>

</html>


<!-- component talk area -->
<script type="text/x-template" id="cb-talk">
  <div id="cb-talk">

    <div v-for="item in talk" :key="item" class="cb-remark">
      <!-- bot remark -->
      <div class="cb-remark-bot" v-if="item.who == 'bot'">

        <!-- answer -->
        <p v-if="item.answer" class="cb-bot-answer"><span v-html="item.answer"></span></p>

        <!-- questionList -->
        <ul v-if="item.questionList" class="cb-bot-question-list">
          <li v-for="q in item.questionList" class="cb-bot-question" v-on:click="clickQuestion(q)">
            [[q.question]]
          </li>
        </ul>

        <!-- staticAnswerList -->
        <ul v-if="item.staticAnswerList" class="cb-bot-static-answer-list">
          <li v-for="staticAnswer in item.staticAnswerList" class="cb-bot-static-answer" v-on:click="clickStaticAnswer(staticAnswer)">
            [[staticAnswer.displayText]]
          </li>
        </ul>

      </div>
      <!-- end bot remark-->

      <!-- user remark -->
      <div class="cb-remark-user" v-if="item.who == 'user'">
        <p class="cb-user-input">
        [[item.displayText]]
        </p>
      </div>
      <!-- enr user remark -->

    </div>
  </div>

</script>

<script>
  const CbTalkArea = Vue.extend({
    template: '#cb-talk',
    props: {
      talk: {
        type: Array,
        required: true
      },
      sendQuestion: {
        type: Function,
        required: true
      },
      sendStaticAnswer: {
        type: Function,
        required: true
      }
    },
    delimiters: ["[[", "]]"],
    methods: {
      clickQuestion: function (question) {
        this.sendQuestion(question)
      },
      clickStaticAnswer: function (answer) {
        this.sendStaticAnswer(answer)
      }
    },
    mounted: function () {
      this.sendStaticAnswer({ name: 'start' })
    }
  });
</script>

<!-- component control area-->
<script type="text/x-template" id="cb-control">
  <div class="cb-control">
    <form v-on:submit.prevent="doSubmit">
      <input type="text" class="cb-input" v-model="query" />
      <button class="cb-send-button" type="submit">send</button>
    </form>
  </div>
</script>

<script>
  const CbControlArea = Vue.extend({
    template: '#cb-control',
    props: {
      sendFreeText: {
        type: Function,
        required: true
      }
    },
    methods: {
      doSubmit: function () {
        this.sendFreeText(this.query);
        this.query = '';
      }
    },
    data: function () {
      return {
        query: ''
      }
    },
    delimiters: ["[[", "]]"]
  });
</script>

<script>
  Vue.config.devtools = true;

  const app = new Vue({
    components: {
      'cb-talk': CbTalkArea,
      'cb-control': CbControlArea
    },
    data: {
      talk: [],
      config: {
        site_id: 1,
        show_faq_info: true
      }
    },
    delimiters: ["[[", "]]"],
    methods: {
      requestTalkApi: function (params) {

        return axios.post('/api/talk', params).then(res => {
          this.addBotRemark(res.data);
        }).catch(e => {
          data = {
            answer: {
              answer: 'エラーが発生しました。'
            }
          }
          this.addBotRemark(data);

          return Promise.reject(e)

        });

      },
      sendQuestion: function (question) {
        this.addUserRemark(question.question)

        this.requestTalkApi({
          site_id: this.config.site_id,
          type: 'question',
          faq_id: question.faq_id
        });
      },
      sendStaticAnswer: function (staticAnswer) {
        this.addUserRemark(staticAnswer.displayText);

        this.requestTalkApi({
          site_id: this.config.site_id,
          type: 'staticAnswer',
          name: staticAnswer.name
        });

      },
      sendFreeText: function (text) {
        if (!text) {
          return
        }

        this.addUserRemark(text);

        this.requestTalkApi({
          site_id: this.config.site_id,
          type: 'freeText',
          query: text
        });

      },
      addUserRemark: function (text) {

        userRemark = {
          who: 'user',
          displayText: text
        }
        this.talk.push(userRemark);

        // talk area scroll to bottom (display user input)
        this.scrollToBottom(500);

      },
      addBotRemark: function (res) {
        setTimeout(() => {

          botRemark = {
            who: 'bot'
          }

          if (res.answer) {
            remark = res.answer.answer
            if (this.config.show_faq_info) {
              remark = `faq_id: ${res.answer.faq_id}<br>question: ${res.answer.question}<br><br>${remark}`
            }
            botRemark.answer = remark;
          }

          if (res.questionList) {
            botRemark.questionList = res.questionList;
          }

          if (res.staticAnswerList) {
            botRemark.staticAnswerList = res.staticAnswerList
          }

          this.talk.push(botRemark);

          // talk area scroll to bottom (display bot remark)
          this.scrollToBottom(3000);
        }, 500);

      },
      scrollToBottom: function (duration) {
        duration = duration || 1000;

        Vue.nextTick(() => {
          const obj = document.getElementById('cb-talk');
          const incByMs = (obj.scrollHeight - (obj.scrollTop + obj.clientHeight)) / duration;
          const start = new Date().getTime();

          const animate = () => {
            const now = new Date().getTime();
            obj.scrollTop += incByMs * (now - start);
            if ((obj.scrollTop + obj.clientHeight) >= obj.scrollHeight) {
              obj.scrollTop = obj.scrollHeight;
            } else {
              animation = requestAnimationFrame(animate)
            }
          }
          let animation = requestAnimationFrame(animate);

        });
      }
    }
  }).$mount('#cb-area')

</script>