{% extends 'admin/layout.html' %}

{% block title %}サイトの設定{% endblock %}

{% block breadcrumb %}
<li class="active">{{ self.title() }}</li>
{% endblock %}

{% block content %}
<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <div class="row">
        <div class="col-xs-9">
        </div>
        <div class="col-xs-3">
          <a href="{{ url_for('admin/site.add') }}">
            <div class="btn btn-block btn-primary">サイト追加</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  {% for site in sites %}
  <div class="box box-default">
    <div class="box-header with-border">
      <div class="col-xs-3">
        <h3 class="box-title">
          <i class="fa fa-laptop">サイトID : {{ site.id }}</i>
        </h3>
      </div>
      <div class="col-xs-5">
        <h3 class="box-title">
          <i class="fa fa-tag">サイト名 : {{ site.name }}</i>
        </h3>
      </div>
      <div class="col-xs-1">
        {% if site.enable_flag %}
        <div> 有効</div>
        {% else %}
        <div> 無効</div>
        {% endif %}
      </div>
      <div class="col-xs-3">
        <a href="{{ url_for('admin/site.edit', id=site.id) }}">
          <div class="btn btn-block btn-primary">編集</div>
        </a>
      </div>
    </div>


    <div class="box-body">
      <div>
        <div class="col-xs-9">
          <p class="lead">URLごとの設定</p>
        </div>
        <div class="col-xs-3">
          <a href="{{ url_for('admin/site/url_setting.add', site_id=site.id) }}">
            <div class="btn btn-block btn-primary">URL追加</div>
          </a>

        </div>
      </div>

      <table class="table table-bordered table-striped url_settings">
        <thead>
          <tr>
            <th>ID</th>
            <th>URLパターン</th>
            <th>ボット名</th>
            <th>作成日時</th>
            <th>更新日時</th>
            <th>操作</th>
            <th>有効 / 無効</th>
          </tr>
        </thead>
        <tbody>
          {% for url_setting in site.url_settings %}
          <tr>
            <td>{{ url_setting.id }}</td>
            <td>{{ url_setting.url_pattern }}</td>
            <td>
              {% if url_setting.bot %}
              <a href="{{ url_for('admin/bot.detail', id=url_setting.bot.id) }}">{{ url_setting.bot.name }}</a>
              {% endif %}
            </td>
            <td>{{ url_setting.created_at }}</td>
            <td>{{ url_setting.updated_at }}</td>
            <td>
              <a href="{{ url_for('admin/site/url_setting.edit', id=url_setting.id) }}">
                <div class="btn btn-block btn-info">編集</div>
              </a>
            </td>
            <td>{{ url_setting.enable_label }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  {% endfor %}
</div>
{% endblock %}

{% block before_close_body %}

<script>
  $(function () {
    $('.url_settings').DataTable()
  })
</script>
{% endblock %}