{% extends 'admin/layout.html' %}

{% block title %}FAQファイルからインポート{% endblock %}

{% block breadcrumb %}
<li><a href="{{ url_for('admin/bot') }}">Bot一覧</a></li>
<li><a href="{{ url_for('admin/bot.detail', id=faq_file_import.bot.id) }}">Bot詳細</a></li>
<li class="active">{{ self.title() }}</li>
{% endblock %}

{% block content %}

<div class="col-md-12">
  <!-- Horizontal Form -->
  <div class="box box-info">
    <!-- <div class="box-header with-border">
      <h3 class="box-title">FAQの{{ operation }}</h3>
    </div> -->
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="box-body">
        <div class="form-group">
          <label for="bot_name" class="col-sm-2 control-label">Bot名</label>

          <div class="col-sm-10" id='bot_name'>
            {{ faq_file_import.bot.name }}
          </div>
        </div>
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">リスト名</label>

          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="name" placeholder="リスト名"
              value="{{ faq_file_import['name'] }}" required>
            {% for error in form.name.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <div class="form-group">
          <label for="faq_list" class="col-sm-2 control-label"> FAQファイル</label>
          <div class="col-sm-10">
            <input type="file" id="faq_list" name="faq_list" required>
            {% for error in form.faq_list.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="submit" class="btn btn-info pull-right">送信</button>
        </div>
        <!-- /.box-footer -->
    </form>
  </div>
  <!-- /.box -->
</div>
<!-- /.col -->
{% endblock %} %}