{% extends 'admin/layout.html' %}

{% block title %}FAQデータリスト一覧{% endblock %}

{% block content %}
<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">データリスト</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table id="faq_lists" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>名前</th>
            <th>作成日時</th>
            <th>更新日時</th>
          </tr>
        </thead>
        <tbody>
          {% for faq_list in faq_lists %}
          <tr>
            <td>{{ faq_list['id'] }}</td>
            <td>{{ faq_list.name }}</td>
            <td>{{ faq_list.created_at }}</td>
            <td>{{ faq_list.updated_at }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}

{% block before_close_body %}
<!-- DataTables -->
<script src="/static/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
  $(function () {
    $('#faq_lists').DataTable()
  })
</script>
{% endblock %}